<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">



<h:form id="form">
	<div id="templatmeo_header">
    	<div id="site_title"><h1><h:commandLink action="/index?faces-redirect=true" value="Home" /></h1></div>
        <div id="templatemo_menu">
            <ul>
                <li><h:commandLink action="/index?faces-redirect=true" value="Home" /></li>
                <li><h:commandLink action="/pages/staticPages/aboutus?faces-redirect=true" value="About-us" /></li>
                <li><h:commandLink action="/pages/staticPages/contact?faces-redirect=true" value="Contact" /></li>
                <li><h:commandLink action="/pages/staticPages/registre?faces-redirect=true" value="Register" /></li>
                <li><h:commandLink action="/pages/staticPages/login?faces-redirect=true"  value="Login" /></li>
            </ul>    	
        </div> <!-- end of templatemo_menu -->
    </div> <!-- end of header -->
    
 
  
  

  
 
  

</h:form>
</ui:composition>