<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

			<ui:define name="pageTitle"><h:outputStylesheet library="css" name="contentslider.css"></h:outputStylesheet>	</ui:define>

<div id="templatemo_middle">
    	<div id="mid_slider"><span></span>
        	<div id="slider1" class="sliderwrapper">

                <div class="contentdiv">
                    <img src="#{request.contextPath}/resources/img/slider/image_00.png" alt="Image 00" />
                </div>
    
                <div class="contentdiv">
                    <img src="#{request.contextPath}/resources/img/slider/image_01.png" alt="Image 01" />
                </div>            
                
                <div class="contentdiv">
                    <img src="#{request.contextPath}/resources/img/slider/image_02.jpg" alt="Image 02" />
                </div>
                
                <div class="contentdiv">
                    <img src="#{request.contextPath}/resources/img/slider/image_03.jpg" alt="Image 03" />
                </div>
            
            </div>
            
            <div id="paginate-slider1" class="pagination">
            
      </div>
            
            <script type="text/javascript">
            
            featuredcontentslider.init({
                id: "slider1",  //id of main slider DIV
                contentsource: ["inline", ""],  //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
                toc: "#increment",  //Valid values: "#increment", "markup", ["label1", "label2", etc]
                nextprev: ["", ""],  //labels for "prev" and "next" links. Set to "" to hide.
                revealtype: "click", //Behavior of pagination links to reveal the slides: "click" or "mouseover"
                enablefade: [true, 0.4],  //[true/false, fadedegree]
                autorotate: [true, 2000],  //[true/false, pausetime]
                onChange: function(previndex, curindex){  //event handler fired whenever script changes slide
                    //previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
                    //curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
                }
            })
            
            </script>
        </div>
        <div id="mid_left">
            <div id="mid_title">Welcome to Tunisian EXchange services </div>
            <p>The exchange of services is a whole philosophy of life: help and receive, share to get to know, make friends to widen the circle of relationships, increase skills to be more efficient, help each other to be more united and better understanding...</p>
            <div id="learn_more"><a href="#">Learn More</a></div>
	  </div>
        <div class="cleaner"></div>
	</div> <!-- end of middle -->
</ui:composition>