<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
<title><ui:insert name="pageTitle" ></ui:insert></title>
<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/img/icon.ico" />
<meta charset="utf-8"/>

<h:outputStylesheet library="css" name="templatemo_style.css"></h:outputStylesheet>
<ui:insert name="pageccss" ></ui:insert>


<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

<h:outputScript library="js" name="contentslider.js"></h:outputScript>


</h:head>
<body id="home">
<div id="fb-root"></div>
<script> window.fbAsyncInit = function() {
    FB.init({
        appId      : '1418818601714832',
        xfbml      : true,
        version    : 'v2.0'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));</script>
     
     
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
     
     
     <script type="text/javascript" src="https://apis.google.com/js/platform.js">
     {lang: 'fr'}
     </script>
     
     
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>

<div id="templatemo_wrapper">
  <ui:include src="/template/template1/navbar.xhtml" />
     
  <ui:insert name="pagecontaint" >
  
  </ui:insert>
              
    
 
    

   </div>



<div id="templatemo_copyright_wrapper">
    <div id="templatemo_copyright">
    	
            Copyright © 2014 <a href="#">Tunisian Exchange Service</a> | Designed by <a href="#" rel="nofollow" target="_parent">Linkx Team</a>
        
    </div> <!-- end of templatemo_footer -->
</div>


<h:outputScript library="js" name="logging.js"></h:outputScript>

</body>


</html>