<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

      <div class="footer">

        <p>© 2013 Company LINKX, Inc. · <a href="./Carousel Template · Bootstrap_files/Carousel Template · Bootstrap.htm">Privacy</a> · <a href="./Carousel Template · Bootstrap_files/Carousel Template · Bootstrap.htm">Terms</a></p>
 
      </div>
</ui:composition>