<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="panel panel-primary">  My last Job
          <div class="jumbotron profilecontainer">
         
            <div class="col-md-9">

    <div class="row">
      <div class="col-md-6">
       <h6>Name of job:xxxxxxxxxxx</h6>
          <h6>Nbtoken:xxxxxxxxxxx</h6>
      </div>				
     
    </div>
    <a href="#">See All Job</a><br/>
    <a href="#">Request Service</a>
  </div>
          
</div>


          </div>
        </div><!--/span-->
</ui:composition>