<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:form>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
   
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TEX-Services</a>
        </div>
      
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><h:commandLink action="/pages/businessPages/home?faces-redirect=true" value="Home" ></h:commandLink></li>
           
            <li><p:commandLink action="/pages/businessPages/account?faces-redirect=true" value="Account" /></li>
            
          </ul>
      <div class="navbar-form navbar-left" >
        <div class="form-group">
          <p:inputText value="#{searchBean.servicename}" styleClass="form-control" placeholder="Search service"/>
        </div>
        <p:commandButton action="/pages/search?faces-redirect=true" styleClass="ui-icon ui-icon-search" value="" style="margin-left:5px; width: 20px; height: 20px;padding:10px;" ></p:commandButton> 
      </div>
          <ul class="nav navbar-nav navbar-right">
            <li><p:commandLink action="#{userBean.acceptedJob}"><i class="icon-white icon-briefcase "></i><span class="badge pull-right">#{userBean.nbNotifJob}</span></p:commandLink></li>
            
            <li><p:commandLink action="#{userBean.myJob}"><i class="icon-white icon-envelope "></i><span class="badge pull-right">#{userBean.nbNotif}</span></p:commandLink></li>

            <li ><p:commandLink action="/pages/businessPages/profile?faces-redirect=true" type="button" value="Profile" icon="ui-icon-extlink" /></li>
            <li> <p:commandLink action="#{userBean.doLogout}" type="button" value="Logout" icon="ui-icon-extlink" /> </li>

          </ul>
        </div><!--/.nav-collapse -->
      
      </div>
      
    </div>
    
    </h:form>
    </ui:composition>
