<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" >

              <p:panel header="My Profile" style="width: 350px;">
				<h:panelGrid columns="1" >
                     <h:panelGrid columns="2" cellspacing="5" cellpadding="15" >
                     <p:graphicImage value="#{ImgBean.imageuser}" style="height:128px;width:128px;" cache="false">
                     	<f:param name="userid" value="#{userBean.user.picture.id}"/>
                     </p:graphicImage>
					       <h:panelGrid columns="1" style=" width : auto; margin-left: 20px">
							<h6>Name:</h6><h:outputText  value="#{userBean.user.name}"/>
							<h6>Email:</h6><h:outputText  value="#{userBean.user.email}"/>
							<h6>Phone:</h6><h:outputText  value="#{userBean.user.phone}"/>
							<h6>Points :</h6><h:outputText  value="#{userBean.user.point}"/>
							
						   </h:panelGrid>
				     </h:panelGrid>
				    
					
					
					<p:commandLink  action="/pages/businessPages/myServices?faces-redirect=true" value="Add Other Services" />
					<p:commandLink action="/pages/businessPages/profile?faces-redirect=true" value="Update Profile" />
					<p:commandLink action="/pages/businessPages/validateCode?faces-redirect=true" value="Insert code" />
				</h:panelGrid>
				</p:panel>
				<br/>
				<div>
				<p:commandLink action="/pages/businessPages/buyjettons?faces-redirect=true">
				<p:graphicImage value="/resources/img/purchase.png" width="350px;" onmousedown="/buyjettons?faces-redirect=true" onclick="/buyjettons?faces-redirect=true"/>
				</p:commandLink>
				</div>
			</div>


		
</ui:composition>
