<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
<title><ui:insert name="pageTitle" ></ui:insert></title>
<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/img/icon.ico" />
<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>


<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
<h:outputStylesheet library="css" name="navbar-fixed-top.css"></h:outputStylesheet>
<h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
<h:outputScript library="primefaces" name="jquery/jquery.js"/>

</h:head>
<h:body>

<div id="fb-root"></div>
<script> window.fbAsyncInit = function() {
    FB.init({
        appId      : '1418818601714832',
        xfbml      : true,
        version    : 'v2.0'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));</script>
     
     
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
     
     <script type="text/javascript" src="https://apis.google.com/js/platform.js">
     {lang: 'fr'}
     </script>
     
     <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>


<ui:include src="/template/template2/navbar.xhtml" />

     <div class="container">     
           <div class="row row-offcanvas row-offcanvas-right">

            <div class="col-xs-12 col-sm-9">
             <ui:insert name="pagecontaint" >
             </ui:insert>
            </div><!--/span-->
            
<ui:insert name="pageprofile" >
</ui:insert>

       
        
      </div>
<ui:include src="/template/template2/footer.xhtml" /> 
    </div> <!-- /container -->
</h:body>


</html>