<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template1/template.xhtml">
                	
            	
			<ui:define name="pageTitle">TEX-Home</ui:define>	
			
			<ui:define name="pagecontaint">    
               <ui:include src="/template/template1/slider.xhtml" />
	  		</ui:define>
	  		
</ui:composition>