<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template2/template.xhtml">
                	
            	
			<ui:define name="pageTitle">Business-Home</ui:define>	
			
			<ui:define name="pagecontaint">    
				  	<div class="jumbotron">
            <h4>ERROR 404</h4>
          </div> 
			
			<div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">

            <h1>page NOT Found</h1>
            </div><!--/span-->
  
          </div>
	  		</ui:define>
>
	  		
	  		

</ui:composition>