<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template2/template.xhtml">
                	
            	
			<ui:define name="pageTitle">Business-Home</ui:define>	
			
			<ui:define name="pagecontaint">   
		 <p:panel header="Advence Search" >	
          <div class="jumbotron">
         
			<h:form> 
			
			<h:panelGrid columns="5"  cellpadding="5" >
			
             <h:panelGrid columns="1">
            <p:outputLabel  value="name of service: " />  
 			<p:inputText value="#{searchBean.servicename}" /> 
 			</h:panelGrid>
 			
 			<h:panelGrid columns="1">
			</h:panelGrid>
 			
 		    <h:panelGrid columns="1" style="margin-left:15px">
 		    <p:outputLabel  value="City :" /> 
 		    <p:inputMask value="#{searchBean.city}" /> 
 			</h:panelGrid>
 			
 			<h:panelGrid columns="1">
			</h:panelGrid>
 			
 			 <h:panelGrid columns="1" style="margin-left:15px">
 			<p:outputLabel  value="Value (Token): " />  
 			<p:inputMask value="#{searchBean.servicevalue}" /> 
             </h:panelGrid>
            </h:panelGrid>
               <p:commandButton value="Reset" type="reset" style="float:right; margin-top:15px;"/> 
               <p:commandButton value="Search" action="#{searchBean.doSearch}" id="btnGlobal" style="float:right;margin-top:15px;" update=":searchform"/>  
               
</h:form>
         </div> 
 </p:panel>
          
   <h:form id="searchform">  
  
    <p:dataGrid 
        var="usere"
        value="#{searchBean.users}" 
        columns="1"  
        rows="5"
        paginator="true" 
        paginatorPosition="bottom" 
       
        >  
  
        <p:panel header="#{usere.name}" style="text-align:center">  
            <h:panelGrid columns="1" style="width:100%">  
                <p:graphicImage value="#{usere.picture.picturee}"/>   
  
                <h:outputText value="#{usere.email}" />  
                <h:outputText value="#{usere.adress}" />
                <h:outputText value="#{usere.city}" />
                <h:outputText value="#{usere.phone}" />
  
                <p:commandLink    title="View Detail" action="#{searchBean.selectedUser}">  
                    <h:outputText value="get service" style="margin:0 auto;" />   
                     <f:setPropertyActionListener value="#{usere}"   target="#{searchBean.user2}" /> 
                </p:commandLink>  
            </h:panelGrid>  
        </p:panel>  
  
    </p:dataGrid>
 
    </h:form>      
    
              <h:outputText id="modelNo" value="#{searchBean.user2.name}" />  
	  		</ui:define>
	  		<ui:define name="pageprofile">    
            <ui:include src="/template/template2/profile.xhtml" />
          
	  		</ui:define>
	  		
	  		

</ui:composition>