<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template2/template.xhtml">
                	
            	
	<ui:define name="pageTitle">User</ui:define>	
			
	<ui:define name="pagecontaint">   
         <p:panel header="User" >
         <h:outputLabel value="Name: #{searchBean.user2.name}" /><br/>
         
         <h:outputLabel value="Email: #{searchBean.user2.email}" /><br/>
         
         <h:outputLabel value="Phone: #{searchBean.user2.city}" /><br/>
         
         <p:rating value="#{searchBean.user2.rating}" stars="10" cancel="false" /><br/>
        	  <p:commandButton value="Rating" id="submit" action="#{searchBean.doRating}" style="margin-left:80%;">  
              </p:commandButton>
         
        </p:panel>
        <h:form>
<p:dataTable value="#{searchBean.services}"
              var="serv"
              rows="5"
              selectionMode="single"
			  selection="#{searchBean.service}"
			  rowKey="#{serv.id}"
              paginator="true"
              paginatorPosition="bottom"
              >
              
              <p:ajax event="rowSelect" listener="#{searchBean.onRowSelect}" update=":details"/>

						<f:facet name="header">
							<h:outputText value="My Services" />
						</f:facet>		 

					
					
					<p:column headerText="Date"  >
						<h:outputText value="#{serv.date}" />
					</p:column>

					<p:column headerText="name of service" >
						<h:outputText value="#{serv.name}" />
					</p:column>

					<p:column headerText="description" >
						<h:outputText value="#{serv.description}" />
					</p:column>

					<p:column headerText="token value" >
						<h:outputText value="#{serv.value}" />
					</p:column>

					<p:column headerText=""  >

					</p:column>



				</p:dataTable> 
</h:form>

<br/><br/>

<p:panel id="details" header="category details" visible="#{searchBean.formDisplayed}" style="width: 500px;">
<h:form rendered="#{searchBean.formDisplayed}">
<h:panelGrid columns="2">

            <p:outputLabel  value="name of service: #{searchBean.service.name}" />  
 			
 			<br/>
 			 <p:outputLabel  value="Description:  #{searchBean.service.description}" />  
 			
 			<br/>
 			<p:outputLabel  value="Value (Token): #{searchBean.service.value}" />  
 			 
 			
 <p:separator></p:separator>
                 
              <p:media value="#{searchBean.url}" width="420" height="315" player="flash" rendered="#{searchBean.video}"/>

<br/><br/>
						  <p:commandButton value="buy Service" id="submit" action="#{searchBean.addTransaction}">  
                  			  
              			 </p:commandButton>

</h:panelGrid>
					
</h:form>

</p:panel>	
<br/><br/><br/>	

	</ui:define>
</ui:composition>