<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
 <h:head>
<title><ui:insert name="pageTitle" ></ui:insert></title>
<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/img/icon.ico" />
<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>


<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
<h:outputStylesheet library="css" name="navbar-fixed-top.css"></h:outputStylesheet>
<h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
<h:outputScript library="primefaces" name="jquery/jquery.js"/>

</h:head>
<h:body>              
     <h:form>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
   
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TEX-Services</a>
        </div>
      
        <div class="navbar-collapse collapse">
        
          <ul class="nav navbar-nav navbar-right">

            

           
            <li> <p:commandLink action="#{userBean.doLogout}" type="button" value="Logout" icon="ui-icon-extlink" /> </li>

          </ul>
        </div>
      </div>
      
    </div>
    
    </h:form>
    
    <h:form id="master">
    <p:dataTable value="#{AdminBean.businessestoactivate}"
              var="bu"
              rows="5"
			  selectionMode="single"
			  selection="#{AdminBean.businesstoactivate}"
			  rowKey="#{bu.id}"
			  widgetVar="catTabW"
              paginator="true"
              paginatorPosition="bottom"
              >
              
             
				  
						<f:facet name="header">
							<h:outputText value="Business Waiting For activation" />
						</f:facet>		 

					
					<p:column headerText="Tax Code"  >
						<h:outputText value="#{bu.taxCode}" />
					</p:column>

					<p:column headerText="Name" >
						<h:outputText value="#{bu.name}" />
					</p:column>
					<p:column headerText="Email" >
						<h:outputText value="#{bu.email}" />
					</p:column>
					<p:column headerText="Phone" >
						<h:outputText value="#{bu.phone}" />
					</p:column>
				</p:dataTable> 	
				<p:commandButton icon="ui-icon-circle-plus" action="#{AdminBean.doActivate}" 
				value="Activate"/>
					
	</h:form>
	
	
	<br />
    <hr />
    <h:form id="detail">
    <p:dataTable value="#{AdminBean.businessesactivate}"
              var="b"
              rows="5"
			  selectionMode="single"
			  selection="#{AdminBean.businessactive}"
			  rowKey="#{b.id}"
              paginator="true"
              paginatorPosition="bottom"
              >
              
             
				  
						<f:facet name="header">
							<h:outputText value="Business Activated" />
						</f:facet>		 

					
					<p:column headerText="Tax Code"  >
						<h:outputText value="#{b.taxCode}" />
					</p:column>

					<p:column headerText="Name" >
						<h:outputText value="#{b.name}" />
					</p:column>
					<p:column headerText="Email" >
						<h:outputText value="#{b.email}" />
					</p:column>
					<p:column headerText="Phone" >
						<h:outputText value="#{b.phone}" />
					</p:column>
				</p:dataTable>
    </h:form>

    
</h:body>    
    
    </ui:composition>