<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template2/template.xhtml"
                >
   <ui:define name="pagecontaint">  
 	<h:form id="form">  
  
   			 <p:dataGrid var="article" value="#{articleBean.articles}" 
   			 columns="1" rows="10" 
   			
   			 paginator="true" 
            paginatorPosition="bottom"
            styleClass="row">  

        <p:panel header="#{article.title}" >  
          	
          	
          <p:graphicImage styleClass="img-rounded" value="#{ImgBean.getimage()}" style="width:100px;height:100px" cache="false">
          	<f:param name="imageid" value="#{article.articlePicture.id}" />
          	</p:graphicImage>
          	<p><h:outputText value="#{articleBean.getdes(article.description)}" /></p>     	
            <p:commandLink styleClass="btn btn-primary" value="Detail" action="#{articleBean.detail()}">
             <f:setPropertyActionListener target="#{articleBean.article}" value="#{article}"></f:setPropertyActionListener>
             </p:commandLink>
        </p:panel>  
         
    </p:dataGrid>  
     
   
  
</h:form>  			              
			
     
   
  </ui:define>
			              
</ui:composition>