<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template2/template.xhtml"
                xmlns:fb="http://ogp.me/ns/fb#">
   <ui:define name="pagecontaint">  
   <div class="row">
   <h1><h:outputText value="#{articleBean.article.title}" /> </h1>
   <h4><h:outputText value="#{articleBean.article.date}" /></h4>
	  <p:graphicImage styleClass="img-rounded" value="#{ImgBean.getimage()}" style="width:100px;height:100px" cache="false">
    <f:param name="imageid" value="#{articleBean.article.articlePicture.id}" />
    </p:graphicImage>
   <p><h:outputText value="#{articleBean.article.description}" /></p>
   <p><h:outputText value="Created By : #{articleBean.article.admin.name}" style="float:right;"/></p>
  
  <fb:like href="https://www.facebook.com/TEXservicesLinkx" layout="standard" action="like" show_faces="true" share="true"></fb:like>
            <a href="https://twitter.com/justrim" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @TEX-services</a>
            <div class="g-plusone"></div>
            <a href="//fr.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="white" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_28.png" /></a>
            
   
     </div>
     <hr />
     <div class="row">
     	 <h3>Comment</h3>
         <ui:include src="/pages/includes/comments.xhtml" />
  
     </div>
   </ui:define>	
			
     
   
  
			              
</ui:composition>