<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
                	
            	
			
			<h:form id="form">  
  
   			 <p:dataGrid var="article" value="#{articleBean.articles}" 
   			 columns="3" rows="3" 
   			
   			 paginator="true" 
            paginatorPosition="bottom"
            styleClass="row">  

        <p:panel header="#{article.title}" style="width:250px;height:300px;" styleClass="col-md-4">  
          	
         
          	<p:graphicImage styleClass="img-rounded" value="#{ImgBean.getimage()}" style="width:120px;height:120px" cache="false">
          	<f:param name="imageid" value="#{article.articlePicture.id}" />
          	</p:graphicImage>
          	<p><h:outputText value="#{articleBean.getdes(article.description)}" /></p>     	
            <p:commandLink styleClass="btn btn-primary" value="Detail" action="#{articleBean.detail()}">
             <f:setPropertyActionListener target="#{articleBean.article}" value="#{article}"></f:setPropertyActionListener>
             </p:commandLink>
        </p:panel>  
         
    </p:dataGrid>  
     <p:commandLink styleClass="btn btn-primary" value="View ALL" action="/pages/includes/articles?faces-redirect=true" style="float:right;"/>
   
  
</h:form>  			              
</ui:composition>