<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
   
  

      
  <h:form id="myForm">
  	<p:inputTextarea  value="#{CommBean.articleComment.description}" style="width:100%;"/><br />
    <p:commandButton  style="float:right;" value="Send" action="#{CommBean.doCreate()}" update="commentaire">
     <f:setPropertyActionListener target="#{CommBean.articleComment.user}" value="#{userBean.user}"></f:setPropertyActionListener>
     <f:setPropertyActionListener target="#{CommBean.articleComment.article}" value="#{articleBean.article}"></f:setPropertyActionListener>
     </p:commandButton>
      
  
     <br /><br />
     
   <p:dataGrid id="commentaire"  var="comment" value="#{CommBean.comments}" columns="1" rows="10" 
   paginator="true" 
            paginatorPosition="bottom">
    <p:fieldset  legend="#{comment.user.name}" style="height:50%;">  
    <h:panelGrid columns="2" cellpadding="10" style="height:50%;">  
        <p:graphicImage styleClass="img-rounded" value="#{ImgBean.imageuser}" style="width:100px;height:100px" cache="false">
          	<f:param name="userid" value="#{comment.user.picture.id}" />
          	</p:graphicImage>  
        <h:outputText  
            value="#{comment.description}" />  
    </h:panelGrid>  
	</p:fieldset>  
	</p:dataGrid>
	</h:form>
  
    
 

			
     
   
  
			              
</ui:composition>