<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template1/template.xhtml">
                	
            	
			<ui:define name="pagetitle">About-us</ui:define>	
			
			<ui:define name="pagecontaint">  
			<br/><br/>  
            <div id="templatemo_middle_sub">
        <div id="mid_title">About Us</div>
        <p>Tunisian community exchange the knowledge, expertise and ideas by finding someone who can exchange with you. It is a user based community where people can exchange anything. Post an offer and get replies from other users who are interested in getting your service, skill or even product in exchange for what you need. Services will be exchanged between individual and professional. 
</p>
	</div> <!-- end of middle -->
    <br/><br/><br/>
     <div id="templatemo_main">
        <div class="col_w600 float_l">
        	
            <h2><a href="http://fr.onlyimage.com/" title="ouvrir from fr.onlyimage.com"  target="_blank">Who We Are</a></h2>
       
             <p><em>We are TEX <BR /> nice to meet you!</em></p>
            <p>TEX started up in 2014, and we’ve been on an epic ride ever since. From our beginnings as beginner developers , we’ve tried to stay true to our core beliefs and to deliver an exceptional experience for our community and subscribers. We owe a huge thanks to our community for joining us on this awesome journey, and we hope that you’ll continue to be a part of our story.</p>
            <div class="h30"></div>
            <div class="image_frame image_fr"><span></span><img src="#{request.contextPath}/resources/img/téléchargement.jpg" alt="téléchargement" /></div>
            <h6></h6>
            <p></p>
        </div>
        <div class="col_w300 float_r">
        
            <h2>The local exchange <BR /> <BR />system, what is it?</h2>
            <blockquote>
            <p>it is a system that involves the exchange of services or products within a group. This allows members to share their expertise or skills.</p>
            <p>Local exchange systems (SEL) appeared in Europe in the 1930s. Today there are over 450 in France.</p>
            
            <cite>© échangez-vos-compétences,  <span>Wikimedia, cc by sa 3.0</span></cite>
            </blockquote>
        
        </div>    
        <div class="cleaner"></div>	
    </div> <!-- end of templatemo_main -->
	  		</ui:define>
</ui:composition>