<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template1/template.xhtml">
                	
            	
			<ui:define name="pageTitle">Register choose</ui:define>	
			
			<ui:define name="pagecontaint">    
               <div id="templatemo_middle_sub">
        <div id="mid_title"><a href="#" title="images du domaine public from fr.onlyimage.com"  target="_blank">Choose your Profile</a></div>
        <p>In vel sapien turpis, vel semper felis. In augue eros, semper sed interdum vel, eleifend nec tellus. Pellentesque lobortis aliquet sapien suscipit imperdiet. Cras egestas quam nec tortor ultricies dictum. Suspendisse vulputate, nibh at posuere dignissim, leo dolor sodales orci, ac sagittis erat nisi sit amet tellus. </p>
	</div> <!-- end of middle -->
	<br/><br/><br/><br/>
    
     <div id="templatemo_main">
        <div class="col_w450 float_l">
            <div id="contact_form">
        
                <h2>Register as Business</h2>
               <h:form id="form"> 
               <p:commandButton value="Business Registre" id="submit"  oncomplete="" icon="ui-icon-star" action="/pages/staticPages/registre?faces-redirect=true"/>  
               </h:form> 
 

            </div> 
        </div>
            
        <div class="col_w450 float_r">
                        <div id="contact_form">
        
                <h2>Register as Customer</h2>
               <h:form > 
               <p:commandButton value="Customer Registre" id="submit"  oncomplete="" icon="ui-icon-suitcase" action="/pages/staticPages/registre?faces-redirect=true"/>  
               </h:form> 
 

            </div> 
        </div>    	
    	
    	<div class="cleaner"></div>
    </div> <!-- end of templatemo_main -->

	  		</ui:define>
</ui:composition>