<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template1/template.xhtml"
                xmlns:fb="http://ogp.me/ns/fb#">
                	
            	
			<ui:define name="pageTitle">Contact-us</ui:define>	
			
			<ui:define name="pagecontaint">    
               <div id="templatemo_middle_sub" style="background-image: url(#{request.contextPath}/resources/img/banner.png);background-repeat:no-repeat; height : 286px; margin-left: 15px;">
        
        
        <BR /><BR /><BR /><BR /><BR /><BR />
        <p style="FONT-FAMILY: 'Cambria Math'; FONT-SIZE: large; COLOR: #000000;"><b>We'd love to hear about you !<BR />To contact TEX-services by email, please use the following form. We will make every attempt to answer your inquiry as quickly as possible. Your question may already be answered!</b> </p>
	</div> <!-- end of middle -->
	
    
     <div id="templatemo_main" style=" height : 675px;">
        <div class="col_w450 float_l">
            <div id="contact_form" style=" height : 460px;">
        
                <h2>Contact us</h2>
                
                <form method="post" name="contact" action="#">
					
						<label for="author"><p>Your name *</p></label> <input type="text" id="author" name="author" class="required input_field" />
						<div class="cleaner h10"></div>
													
						<label for="email">Your email  *</label> <input type="text" class="validate-email required input_field" name="email" id="email" />
						<div class="cleaner h10"></div>
											
						<label for="subject">Subject *</label> <input type="text" class="validate-subject required input_field" name="subject" id="subject"/>				               
						<div class="cleaner h10"></div>
							
						<label for="text">Message *</label> <textarea id="text" name="text" rows="0" cols="0" class="required"></textarea>
						<div class="cleaner h10"></div>				
												
						<input type="submit" value="Send Email" id="submit" name="submit" class="submit_btn float_l" />
						<input type="reset" value=" Reset " id="reset" name="reset" class="submit_btn float_r" />
						
				</form> 

            </div> 
        </div>
            
        <div class="col_w450 float_r">
            <h4>Our Location</h4>
            <div id="map"><a href="#{request.contextPath}/resources/img/map_big.png" title="Our Location"><img width="300" height="150" src="#{request.contextPath}/resources/img/map_big.png" alt="Location" class="image_wrapper" /></a></div>                
            <div class="cleaner h30"></div>
            
            <h4>Mailing Address</h4>
            <h6>Our Company</h6>
            LinkX_company <br />
            Tunisie, ariana, 2081<br />
            <br /><br />
			
			<strong>Phone:</strong>020-040-0550<br />
            <strong>Email:</strong><a href="mailto:info@yourcompany.com">info@linkx_company.com </a>
            
            <fb:like href="https://www.facebook.com/TEXservicesLinkx" layout="standard" action="like" show_faces="true" share="true"></fb:like>
            <a href="https://twitter.com/justrim" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @TEX-services</a>
            <div class="g-plusone"></div>
            
            	<a href="//fr.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="white" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_28.png" /></a>

        </div>    	
    	
    	<div class="cleaner"></div>
    </div> <!-- end of templatemo_main -->

	  		</ui:define>
</ui:composition>