<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template1/template.xhtml">
                	
            	
			<ui:define name="pageTitle">Terms of Use</ui:define>	
			
			<ui:define name="pagecontaint">    

    <div id="templatemo_middle_sub" style=" height : 2622px; background-image: url(#{request.contextPath}/resources/img/templatemo_middle.jpg)">
     	<div id="contract_terms" style="BACKGROUND-COLOR: #ffffff; margin-left: 15px; width : 900px; height : 2597px;">
     		<BR />
     		<h2 style="margin-left: 5px;">Acceptance of Terms of Use:</h2>
     		<p style="margin-left: 30px">Reading and unconditional acceptance of these Terms and Conditions are mandatory and subordinate the use of the services and contents offered by TEX.
The validation click has the same value of electronic signatures and proves that the user has became aware of all of these conditions and responsibilities, liabilities and obligations incumbent on him.
     		</p>
     		<p style="margin-left: 30px">Any user not respecting the these Terms will be excluded temporarily or permanently.
TEX-services reserves the right to modify at any time these terms and conditions without notice or compensation. Users maintain their knowledge through regular visits to these Terms. In case of non-acceptance of the new conditions, the user may cancel his registration upon simple request within 10 days; beyond this period, we consider the changes as read and accepted.
     		</p>
     		<h2 style="margin-left: 5px;">Access to the site by a network and internet connection requirements:</h2>
     		<p style="margin-left: 30px"> TEX-services is available 24h/24 and 7/7. Except during maintenance or breakdowns. We will strive to limit interruptions that would fall within our responsibility.
The user is responsible for his own installation and his internet access.
Tex-services and its operator can not be held responsible for any problems of access to the Internet entrusted to different suppliers.
     		</p>
     		<h2 style="margin-left: 5px;">Intellectual Property:</h2>
     		<p style="margin-left: 30px">TEX-services website is exclusive property of the operator and all the intellectual property rights concerned.
The name, domain name, logotype of the site are a registered trademark. Any unauthorized reproduction of these trademarks, logos and distinctive signs constitutes an infringement punishable by criminal sanctions.
     		</p>
     		<p style="margin-left: 30px">Accordingly, the user agrees to respect the copyrights, trademark rights and rights of the producer database. Any action contrary to these rights will be considered as prejudice to civil liability and / or criminal liability of the perpetrator.
The user acknowledges that the databases available on the site are the property of TEX-services. Using these data the user must stay in a private setting. The user is not authorized to transfer or sell any information obtained from the Site, or create derivative works of the foregoing.
     		</p>
     		<p style="margin-left: 30px">The User is solely responsible for what he puts online via the website, as well as text and / or opinions that he formulates.
It specifically agrees that these data are not likely to prejudice the legitimate interests of any third parties. For this reason, it guarantees the website operator against all claims, directly or indirectly based on these words and / or data that can be brought by anyone against the site operator.
TEX-services reserves the right to remove all or part of the content posted by a user at any time and for any reason without prior notice or justification. The User may have no claim to this title.
     		</p>
     		<h2 style="margin-left: 5px;">Registration / Protection of personal data:</h2>
     		<p style="margin-left: 30px">Registration is free.</p>
     		<p style="margin-left: 30px">The user must be aged at least 18 years old and undertakes to provide correct information when registering and the content that he can provide on the site. This information serving the proper operation of the site.
     		</p>
     		<p style="margin-left: 30px">The user undertakes not to create a false identity likely to mislead third parties in error. In case any of this information would prove false or obsolete, TEX-services reserves the right, without any compensation or prior notice, to suspend temporarily or permanently a user.
All personal data provided by users are solely for YakasAider.fr. Their use is limited to the conduct of relations and put in the proper functioning of the site. None of these data shall be sold, given, ceded or exchanged
     		</p>
     		<h2 style="margin-left: 5px;">Links to external sites: </h2>
     		<p style="margin-left: 30px">The TEX-services site contains links giving access to other sites edited and managed by third parties. TEX-services and the operator can not be held responsible directly or indirectly in the case where the so-called third-party sites do not comply with legal and regulatory in force, as well as the consequences of non-compliance.</p>
     		
     		<h2 style="margin-left: 5px;">Subscription / Free: </h2>
     		<p style="margin-left: 30px">No subscription charges will be required. However, depending on future circumstances, TEX-services reserves the right to become paying. Each user can then choose within a period of one month to accept the new conditions or to request a registration termination to the site.</p>
     		
     		<h2 style="margin-left: 5px;">Temporary or permanent suspension (termination):</h2>
     		<p style="margin-left: 30px">TEX-services reserves the right to suspend temporarily or permanently access to the site for a user who has not complied with these Terms or to any behavior deemed inappropriate.</p>
     		
     		<h2 style="margin-left: 5px;">Relationships between users / Responsibility: </h2>
     		<p style="margin-left: 30px">TEX-services and its operator are not incurred directly or indirectly as regards to quality and proper exchange nor regarding current or future relations between users. Respect and honesty required in this type of encounter between individuals are the full responsibility of each applicant and each stakeholder. They will respect the hygiene measures and security will be assured. Each user must ensure that before an exchange the assurances of the two members involved in the exchange cover the risks related thereto (individual insurance, civil liability). TEX-services and the operator can not be held responsible for any incident or accident which may occur during an exchange.</p>
     		<p style="margin-left: 30px">The bad quality of a service is in no case the responsibility of TEX-services and its operator. TEX-services is a simple service matchmaking between individuals without guaranteed results. Moreover, the site offers a rating service to help users make their choice, and is limited to postpone these ratings. TEX-services and its operator will not be responsible for errors in ratings.</p>
     		
     		<h2 style="margin-left: 5px;">security: </h2>
     		<p style="margin-left: 30px">Users benefiting or providing a service undertake to implement proper safety precautions according to the knowledge they have of their interlocutor. In particular, rely on maximum caution when moving to another user or when performing a service to the home of another user.</p>
     		<h:panelGrid style="COLOR: #000000; margin-left: 30px;" columns="2">
     		<h:outputLabel value="The value of one token in DT: " style=""/>  
 			<h:outputText  value="#{contractBean.parameter.tokenValue}"/>
 			<h:outputLabel value="Initial tokens number: " />  
 			<h:outputText  value="#{contractBean.parameter.tokenNumber}"/>
 			<h:outputLabel value="Max tokens per transaction: " />  
 			<h:outputText  value="#{contractBean.parameter.maxToken}"/>
 			</h:panelGrid>
     	</div>
        
    <div class="cleaner"></div>
    </div> <!-- end of templatemo_main -->

	  		</ui:define>
</ui:composition>