<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template1/template.xhtml">
                	
            	
			<ui:define name="pageTitle">Login</ui:define>	
			
			<ui:define name="pagecontaint">    
               <div id="templatemo_middle_sub" style="background-image: url(#{request.contextPath}/resources/img/login.jpg);width : 900px; height : 290px; margin-left: 15px;">
        <div id="mid_title"><a href="#" title="images du domaine public from fr.onlyimage.com"  target="_blank">Sign in to TEX-services</a></div>
        <BR /><BR /><BR /><BR />
        <p>Your TEX-services Account gives you access not just to the services you need, but also to services providers listed below. So much to see, so little time!<BR />Sign in with your TEX-services Account details </p>
	</div> <!-- end of middle -->
	<br/><br/><br/><br/>
    
     <div id="templatemo_main">
        <div class="col_w450 float_l">
            <div id="contact_form">
        
                <h2>Authentification</h2>
                
                <h:form>
					
						<h:panelGrid columns="2">
        	<label>E-mail</label>
        	<p:inputText name="data[Member][email]"  maxlength="100" id="MemberEmail" value="#{userBean.user.email}"/>
        	<div class="cleaner h10"></div>
        	<label>Password</label>
        	<p:password name="data[Member][password]" maxlength="100" id="MemberPassword" value="#{userBean.user.password}"/>
        	<div class="cleaner h10"></div>
												
						</h:panelGrid>
						<h:panelGrid columns="1">
        	<p:commandButton id="saveButton" value="sign in" action="#{userBean.login()}" />
        	</h:panelGrid>
				</h:form> 

            </div> 
        </div>
            
        <div class="col_w450 float_r">
            <h4>Our Location</h4>
            <div id="map"><a href="#{request.contextPath}/resources/img/map_big.png" title="Our Location"><img width="300" height="150" src="#{request.contextPath}/resources/img/map_big.png" alt="Location" class="image_wrapper" /></a></div>                
            <div class="cleaner h30"></div>
            
            <h4>Mailing Address</h4>
            <h6>Our Company</h6>
            LinkX_company <br />
            Tunisie, ariana, 2081<br />
            <br /><br />
			
			<strong>Phone:</strong>020-040-0550<br />
            <strong>Email:</strong><a href="mailto:info@yourcompany.com">info@linkx_company.com </a>
        </div>    	
    	
    	<div class="cleaner"></div>
    </div> <!-- end of templatemo_main -->

	  		</ui:define>
</ui:composition>