<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template1/template.xhtml">
                	
            	
			<ui:define name="pageTitle">Registre</ui:define>	
			
			<ui:define name="pagecontaint">    
               <div id="templatemo_middle_sub">
        <div id="mid_title"><a href="#" title="images du domaine public from fr.onlyimage.com"  target="_blank">Join Us</a></div>
        <p>Registration is open, simple, automatic, fast and free. </p>
	</div> <!-- end of middle -->
	<br/><br/><br/><br/>
    <div id="templatemo_main">
    
     <div class="col_w450 float_l">
        	<h:form>
        	<h:panelGrid columns="1">
        	<label>E-mail</label>
        	<p:inputText name="data[Member][email]"  maxlength="100" id="MemberEmail" value="#{RegistrBean.business.email}" 
        	validator="#{RegistrBean.validateEmail}">
			<f:ajax event="blur" execute="@this" render="msg_email" />
			<f:validateRegex pattern="^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$"/>
			</p:inputText>
			<h:message id="msg_email" for="MemberEmail" style="color:red"/>
						
        	<div class="cleaner h10"></div>
        	<label>Password</label>
        	<p:password name="data[Member][password]" maxlength="100" id="MemberPassword" value="#{RegistrBean.business.password}"
        	validatorMessage="between 6 and 12" required="true" requiredMessage="password is required">
        	<f:validateLength minimum="6" maximum="12" />
			<f:ajax event="blur" execute="@this" render="msg_password" />
			</p:password>
			<h:message id="msg_password" for="MemberPassword" style="color:red"/>
						
        	<div class="cleaner h10"></div>
        	<label>Name</label>
        	<p:inputText name="data[Member][Name]"  maxlength="100" id="Membername" value="#{RegistrBean.business.name}" 
        	validator="#{RegistrBean.validateName}"
        	required="true" requiredMessage="Please enter your first name.">
        	<f:ajax event="blur" execute="@this" render="msg_login"/>
        	</p:inputText>
        	<h:message id="msg_login" for="Membername" style="color:red" />
        	<div class="cleaner h10"></div>
        	<label>Phone</label>
        	<p:inputText name="data[Member][Phone]"  maxlength="100" id="MemberPhone" value="#{RegistrBean.business.phone}"
        	validator="#{RegistrBean.ValidatePhone}" required="true" requiredMessage="phone is required">
        	<f:ajax event="blur" execute="@this" render="msg_phone"/>
        	</p:inputText>
        	<h:message id="msg_phone" for="MemberPhone" style="color:red" />
        	<div class="cleaner h10"></div>
        	<label>Address</label>
        	<p:inputText name="data[Member][Address]"  maxlength="100" id="MemberAddress" value="#{RegistrBean.business.adress}"/>
        	<div class="cleaner h10"></div>
        	<label>City</label>
        	<p:inputText name="data[Member][City]"  maxlength="100" id="MemberCity" value="#{RegistrBean.business.city}"/>
        	<div class="cleaner h10"></div>
        	<label>Tax Code </label>
        	<p:inputText name="data[Member][code]"  maxlength="100" id="MemberCode" value="#{RegistrBean.business.taxCode}"/>
        	<div class="cleaner h10"></div>
        	<label>Description</label>
        	<p:inputTextarea rows="10" cols="50" queryDelay="750" minQueryLength="4" value="#{RegistrBean.business.description}" />  
        	</h:panelGrid>
        	<HR />
        	<h:panelGrid columns="1">
        	<p:commandButton id="saveButton" value="Save" action="#{RegistrBean.doCreateBusiness()}" oncomplete="PF('confirm').show()"/>
        	</h:panelGrid>
        	
        	    </h:form>	
    	
    	</div>
  
    <div class="col_w450 float_r">
    <p:graphicImage id="profile" value="#{RegistrBean.getimageprofile()}" cache="false" style="height:128px;width:128px; margin-left: 70px;"/> 
    <h:form enctype="multipart/form-data" >
    <p:fileUpload
        mode="advanced"
        fileUploadListener="#{RegistrBean.handleFileUpload}"
        allowTypes="/(\.|\/)(gif|jpg|jpeg|gif|png|PNG|GIF|JPG|JPEG)$/" 
        auto="false" update=":profile" style="width:310px;"/>
        
	</h:form>
					                 
    </div>
    
      </div> <!-- end of templatemo_main -->
      <form>
       <p:dialog header="Information" widgetVar="confirm" modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="false">
        <h:outputText value="Welcome in TEX services! Your account will be activated soon!" /><br />
        <p:commandButton action="/index?faces-redirect=true" value="Confirm" styleClass="ui-priority-primary"/>
    </p:dialog>
      </form>
	  		</ui:define>
</ui:composition>