<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template1/template.xhtml">
                	
            	
			<ui:define name="pageTitle">Registre</ui:define>	
			
			<ui:define name="pagecontaint">    
               <div id="templatemo_middle_sub" style="background-image: url(#{request.contextPath}/resources/img/banner_joinus.jpg); background-repeat:no-repeat; background-position-y: 130px; width : 900px; height : 290px; margin-left: 15px;">
        <div id="mid_title"><a href="#" title="images du domaine public from fr.onlyimage.com"  target="_blank">Join Us</a></div>
        <p>Registration is open, simple, automatic, fast and free. </p>
	</div> <!-- end of middle -->
	<br/><br/><br/><br/>
    
     <div id="templatemo_main">
        <div class="col_w450 float_l">
            <div id="contact_form">
        
                <h2>Customer Portal</h2>
                
                <p:commandButton value="as Customer" id="registCustomer" 
             action="/pages/staticPages/registrationC?faces-redirect=true" styleClass="ui-priority-primary"/>

            </div> 
        </div>
            
        <div class="col_w450 float_r">
            <h2>Business Portal</h2>
            
            <p:commandButton value="as Business" id="registBusiness" 
            action="/pages/staticPages/registrationB?faces-redirect=true" styleClass="ui-priority-primary"/>

             
        </div>    	
    	
    	<div class="cleaner"></div>
    </div> <!-- end of templatemo_main -->

	  		</ui:define>
</ui:composition>
