<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template1/template.xhtml">
                	
            	
			<ui:define name="pageTitle">Registre</ui:define>	
			
			<ui:define name="pagecontaint">    
               <div id="templatemo_middle_sub">
        <div id="mid_title"><a href="#" title="images du domaine public from fr.onlyimage.com"  target="_blank">Join Us</a></div>
        <p>Registration is open, simple, automatic, fast and free. </p>
	</div> <!-- end of middle -->
	<br/><br/><br/><br/>
    <div id="templatemo_main">
    
     <div class="col_w450 float_l">
        	<h:form>
        	<h:panelGrid columns="2">
        	<label>E-mail</label>
        	<p:inputText name="data[Member][email]"  maxlength="100" id="MemberEmail" value="#{RegistrBean.customer.email}"/>
        	<div class="cleaner h10"></div>
        	<label>Password</label>
        	<p:password name="data[Member][password]" maxlength="100" id="MemberPassword" value="#{RegistrBean.customer.password}"/>
        	<div class="cleaner h10"></div>
        	<label>Name</label>
        	<p:inputText name="data[Member][Name]"  maxlength="100" id="Membername" value="#{RegistrBean.customer.name}"/>
        	<div class="cleaner h10"></div>
        	<label>Phone</label>
        	<p:inputText name="data[Member][Phone]"  maxlength="100" id="MemberPhone" value="#{RegistrBean.customer.phone}"/>
        	<div class="cleaner h10"></div>
        	<label>Address</label>
        	<p:inputText name="data[Member][Address]"  maxlength="100" id="MemberAddress" value="#{RegistrBean.customer.adress}"/>
        	<div class="cleaner h10"></div>
        	<label>City</label>
        	<p:inputText name="data[Member][City]"  maxlength="100" id="MemberCity" value="#{RegistrBean.customer.city}"/>
        	<div class="cleaner h10"></div>
        	</h:panelGrid>
        	<HR />
        	<h:panelGrid columns="1">
        	<p:commandButton id="saveButton" value="Save" action="#{RegistrBean.doCreateCustomer()}" />
        	</h:panelGrid>
        	
        	    </h:form>	
    	
    	</div>
  
    <div class="col_w450 float_r">
    <h:form enctype="multipart/form-data">
    <p:fileUpload
        mode="advanced"
        fileUploadListener="#{RegistrBean.handleFileUpload}"
        allowTypes="/(\.|\/)(gif|jpg|jpeg|gif|png|PNG|GIF|JPG|JPEG)$/" 
        auto="true" style="width:120px;height:50px;" />
	</h:form>
					                 
    </div>
    
      </div> <!-- end of templatemo_main -->
      
	  		</ui:define>
</ui:composition>