body {

  padding-top: 70px;
}

.profile{
	height: 64px;
	width: 64px;
	margin-right: 0;
	}
.col-md-9{
width: 200px;
margin-left: -43px;
margin-top: -24px;
	
}
.profilecontainer{
	height: 150px;
}
.col-md-6{
	float: right;
}