<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template2/template.xhtml">
         
    <ui:define name="pagecontaint"> 
    <div class="row">
    <div class="col-md-6">
    <h:form>  
         
    <p:panel header="Token Transaction">  
    
        <h:panelGrid  columns="2" cellpadding="5">
        
             <h:outputLabel value="Account" />
            <h:outputText value="#{managerUserBean.user.account}" />
            <h:outputLabel for="minmax" value="Number of token: " />  
            <p:spinner id="minmax"   
                    value="#{managerTokenTransaction.tokenNumber}" min="0" max="100"/>  
             
            <h:outputLabel value="Value:" />
            <h:outputText value="10" /> 
           
        </h:panelGrid>  
    </p:panel> 
     <p:commandButton value="Calcul" action="#{managerTokenTransaction.calculAccount}" id="btnCal"/>
    </h:form>
    </div>
     <div class="col-md-6">
     <h:form>
      <p:panel header="Point Transaction">  
        <h:panelGrid  columns="2" id="pointpanel">
        
             <h:outputLabel value="Your Points:" />
            <h:outputText value="#{poinTran.user.point}" style="padding:10px;"/>
            <h:outputLabel for="ajaxspinner" value="Number of Points: " />  
              
                <p:spinner id="ajaxspinner" value="#{poinTran.pointToToken}" min="50" max="#{poinTran.user.point}" >  
                    <p:ajax update="ajaxspinnervalue" process="@this" />  
                </p:spinner>
                <h:outputLabel value="Value : " />
                <h:outputText id="ajaxspinnervalue"  
                        value="#{poinTran.numbertoken}" style="padding:10px;"/>  
             
            <p:commandButton value="Validate" action="#{poinTran.dochange()}" id="btnCal" update="pointpanel" oncomplete="PF('dlg').show()"/>
        </h:panelGrid>  
    </p:panel>
    </h:form>
    </div>
    </div>
    <HR />
    <br />
    <div class="row">
    <ui:include src="/pages/businessPages/reporting.xhtml" />
    </div>
    <HR />
    <br />
    <div class="row">
    <ui:include src="/pages/businessPages/statistic.xhtml" />
    </div>
    </ui:define>
    </ui:composition>