<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template2/template.xhtml">
                	
            	
			<ui:define name="pageTitle">Business-Home</ui:define>	
			
			<ui:define name="pagecontaint">   
			<h:form>
  
             <p:fieldset legend="Purchase Tokens" style="margin-bottom:20px; text-align:center;">
        <p:panel header="200 Tokens" columns="2" cellpadding="5" styleClass="col-md-4" >
         <f:facet name="header"><h:outputText value="100 Tokens" style="color: navy;"/>      
      </f:facet>
            <p:graphicImage value="/resources/img/jeton.png" width="80px" height="80px" /><br />
            <h:outputText
                value="220 dnt" /><br />
                 <p:commandButton value="Purchase" action="PF('confirm').show()"/>
        </p:panel>
      <p:panel columns="2" cellpadding="5" styleClass="col-md-4">
      <f:facet name="header"><h:outputText value="500 Tokens" style="color: navy;"/>      
      </f:facet>
            <p:graphicImage value="/resources/img/jeton.png" width="80px" height="80px" /><br />
            <h:outputText
                value="550 dnt" /><br />
                 <p:commandButton value="Purchase" action="PF('confirm').show()"/>
        </p:panel>
        <p:panel header="1000 Tokens" columns="2" cellpadding="5" styleClass="col-md-4">
         <f:facet name="header"><h:outputText value="1000 Tokens" style="color: navy;"/>      
      </f:facet>
            <p:graphicImage value="/resources/img/jeton.png" width="80px" height="80px" /><br />
            <h:outputText
                value="1100 dnt" /><br />
                 <p:commandButton value="Purchase" onclick="PF('confirm').show()"/>
        </p:panel>
    </p:fieldset>
 
   		 
        
    
 
</h:form>
 <h:form>
 
       <p:dialog header="Credit Card" widgetVar="confirm" modal="true" showEffect="fade" hideEffect="fade"  resizable="false">
       <p:graphicImage value="http://girltotherescue.com/wp-content/uploads/2014/05/visa-mastercard-amex-discov.png" width="200px" height="40px;"/>
       <h:panelGrid columns="2">
        <h:outputText value="Card Number :" />
        <h:inputText value="" />
        <h:outputText value="Security Number" />
        <h:inputSecret value="" />     
        <h:outputText value="Expires :" />
        <h:panelGrid columns="3">
        <p:outputLabel  value="Month"/>
       <p:inputText id="month" value="" validator="#{purchaseBean.validateMonnth}" required="true" requiredMessage="Month is required">
       <f:ajax event="blur" execute="@this" render="msg_month"/>
       </p:inputText>
       <h:message id="msg_month" for="month" style="color:red" />
        <p:outputLabel  value="Day" />
         <p:inputText id="day" value="" validator="#{purchaseBean.validateDAy}" required="true" requiredMessage="Day is required">
       <f:ajax event="blur" execute="@this" render="msg_day"/>
       </p:inputText>
       <h:message id="msg_day" for="day" style="color:red" /> 
       </h:panelGrid>
        </h:panelGrid>
    </p:dialog>
      </h:form>
          
  
          
	  	

          
	  		</ui:define>
	  		
	  		

</ui:composition>