<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template2/template.xhtml">
                	
            	
			<ui:define name="pageTitle">Business-Home</ui:define>	
			
			<ui:define name="pagecontaint">   
			
          <div class="jumbotron">
            <h4>welcom #{userBean.user.name} </h4>
          </div> 
   <ui:include src="/pages/includes/bottomArticles.xhtml" />
          
	  		</ui:define>
	  		<ui:define name="pageprofile">    
   <ui:include src="/template/template2/profile.xhtml" />
          
	  		</ui:define>
	  		
	  		

</ui:composition>