<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template2/template.xhtml">
                	
            	
			<ui:define name="pageTitle">Business-Job</ui:define>	
			
			<ui:define name="pagecontaint"> 
			<div class="row"> 
			<div class="col-md-4"> 
			<BR />
			 <p:growl autoUpdate="true"/>
 			<h:form>
    		<p:menu>
        <p:submenu label="Services Request">
            <p:menuitem value="New Services Accepted" actionListener="#{SeeBusTran.doAccpted()}" update=":panel1 :panel2"  icon="ui-icon-disk" />
            <p:menuitem value="Old Services Accepted" actionListener="#{SeeBusTran.doOld()}" update=":panel2 :panel1"  icon="ui-icon-arrowrefresh-1-w"/>
        </p:submenu>
        </p:menu>
        </h:form>
        </div>
        <div class="col-md-8"  >
			<p:panel id="panel1" visible="#{SeeBusTran.panel1displayed}">
				
	<h:form id="master" rendered="#{SeeBusTran.panel1displayed}" >					          
 		<p:dataTable 
 			  value="#{BusTran.businessTransactions}"
              var="bes"
              rows="5"
              paginator="true"
              paginatorPosition="bottom"
              >
			
						<f:facet name="header">
							<h:outputText value="request" />
						</f:facet>		 
					
					<p:column headerText="Date"  >
						<h:outputText value="#{bes.date}" />
					</p:column>

					<p:column headerText="name of service" >
						<h:outputText value="#{bes.service.name}" />
					</p:column>

					<p:column headerText="value" >
						<h:outputText value="#{bes.value}" />
					</p:column>

					<p:column headerText="from" >
						<h:outputText value="#{bes.business.name}" />
					</p:column>
                 <p:column headerText="Action" >
               <p:commandLink    title="View Detail" action="#{BusTran.onRowSelect}" update=":details1">  
                    <h:outputText value="Show details" style="margin:0 auto;" />   
                     <f:setPropertyActionListener value="#{bes}"   target="#{BusTran.businessTransaction}" /> 
                </p:commandLink>
                </p:column>

				</p:dataTable>   
				</h:form>
				
				
				
				<p:panel id="details1" header="request details" visible="#{BusTran.formDisplayed1}" style="width: 500px;">
<h:form rendered="#{BusTran.formDisplayed1}">
<h:panelGrid columns="2">

            <p:outputLabel  value="Requested from : #{BusTran.businessTransaction.business.name}" />  
 			 
 			
 			 <p:outputLabel  value="at : #{BusTran.businessTransaction.date}" />  
 			
 			<p:outputLabel  value="Value (Token): #{BusTran.businessTransaction.value}" />  
 			
                 
            <p:media value="#{BusTran.url1}" width="420" height="315" player="flash" rendered="#{BusTran.video1}"/>


             <p:commandButton value="Accept Job" action="#{BusTran.acceptJob}" id="btnGlobal" update=":master :details1 :slave"/>  
 
</h:panelGrid>
					
</h:form>

</p:panel>
</p:panel>				
				
				
				  
			<p:panel visible="#{SeeBusTran.panel2displayed}" id="panel2">	  
		<h:form id="slave">
          <p:dataTable value="#{BusTran.bTShow}"
              var="bes"
              rows="5"
              paginator="true"
              paginatorPosition="bottom"
              >

						<f:facet name="header">
							<h:outputText value="request" />
						</f:facet>		 

	
					
					<p:column headerText="Date"  >
						<h:outputText value="#{bes.date}" />
					</p:column>

					<p:column headerText="name of service" >
						<h:outputText value="#{bes.service.name}" />
					</p:column>

					<p:column headerText="value" >
						<h:outputText value="#{bes.value}" />
					</p:column>

					<p:column headerText="from" >
						<h:outputText value="#{bes.business.name}" />
					</p:column>
			
			</p:dataTable>
	</h:form>
 	</p:panel>
	</div>
 </div>
	  		</ui:define>
	  		<ui:define name="pageprofile">   
	  		<ui:include src="/template/template2/profile.xhtml" />
          
	  		</ui:define>
	  		
	  		

</ui:composition>