<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template2/template.xhtml">
                	
            	
			<ui:define name="pageTitle">Business-Home</ui:define>	
			
			<ui:define name="pagecontaint">    
				  	<div class="jumbotron">
            <h4>Service</h4>
          </div> 
			<ui:include src="/pages/businessPages/includs/servicesTable.xhtml" />
			<div class="row">
            <div class="col-2 col-sm-2 col-lg-2">
              </div><!--/span-->
            <div class="col-8 col-sm-8 col-lg-8">
          
             <ui:include src="/pages/businessPages/includs/serviceForm.xhtml" />
            
            </div><!--/span-->
  <br/><br/><br/><br/><br/><br/><br/>
          </div>
	  		</ui:define>
	  		<ui:define name="pageprofile">   
 
   <ui:include src="/template/template2/profile.xhtml" />
          
	  		</ui:define>
	  		
	  		

</ui:composition>