<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template2/template.xhtml">
                	
            	
			<ui:define name="pageTitle">Profile</ui:define>	
			
				
			
			<ui:define name="pagecontaint">    
			 <ui:include src="/pages/businessPages/includs/updateProfileForm.xhtml" />
                		</ui:define>
</ui:composition>