<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
     
   <h:form>
    <p:dataTable id="tbl" var="rep" value="#{managerUserBean.services}" paginator="true" rows="10">
    <p:column>
        <f:facet name="header">
            <h:outputText value="Business" />
        </f:facet>
        <h:outputText value="#{rep.business.name}" />
    </p:column>
    <p:column>
        <f:facet name="header">
            <h:outputText value="Services_names" />
        </f:facet>
        <h:outputText value="#{rep.name}" />
    </p:column>
    <p:column>
        <f:facet name="header">
            <h:outputText value="Services_description" />
        </f:facet>
        <h:outputText value="#{rep.description}" />
    </p:column>
    <p:column>
        <f:facet name="header">
            <h:outputText value="Services_value" />
        </f:facet>
        <h:outputText value="#{rep.value}" />
    </p:column>
    </p:dataTable>
    <h:panelGrid columns="1" style="float:right;">
    <p:panel header="Export All Data">
        <h:commandLink>
            <p:graphicImage value="/resources/img/pdf.png" />
            <p:dataExporter type="pdf" target="tbl" fileName="service"/>
        </h:commandLink>
        <h:commandLink>
            <p:graphicImage value="/resources/img/xml.png" />
            <p:dataExporter type="xml" target="tbl" fileName="service" />
        </h:commandLink>
    </p:panel>
    </h:panelGrid>
    </h:form>
   </ui:composition>