<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template2/template.xhtml">
                	
            	
			<ui:define name="pageTitle">Business-Job</ui:define>	
			
			<ui:define name="pagecontaint">  
	<h:form id="master">					          
 		<p:dataTable 
 			  value="#{validateCode.businessTransactions}"
              var="bes"
              rows="5"
              paginator="true"
              paginatorPosition="bottom"
              >
			
						<f:facet name="header">
							<h:outputText value="request" />
						</f:facet>		 
					
					<p:column headerText="Date request"  >
						<h:outputText value="#{bes.date}" />
					</p:column>

					<p:column headerText="name of service" >
						<h:outputText value="#{bes.service.name}" />
					</p:column>

					<p:column headerText="value" >
						<h:outputText value="#{bes.value}" />
					</p:column>

					<p:column headerText="from" >
						<h:outputText value="#{bes.business.name}" />
					</p:column>
                 <p:column headerText="Action" >
               <p:commandLink    title="View Detail" action="#{validateCode.onRowSelect}" update=":details1">  
                    <h:outputText value="Show details" style="margin:0 auto;" />   
                     <f:setPropertyActionListener value="#{bes}"   target="#{validateCode.businessTransaction}" /> 
                </p:commandLink>
                </p:column>

				</p:dataTable>   
				</h:form>
				<br/><br/>
				
				<p:panel id="details1" header="request details" visible="#{validateCode.formDisplayed1}" style="width: 500px;">
<h:form rendered="#{validateCode.formDisplayed1}">
<h:panelGrid columns="2">

            <p:outputLabel  value="Business : #{validateCode.businessTransaction.service.business.name}" />  
 			 
 			<br/> 
 			
 			<p:outputLabel  value="Value (Token): #{validateCode.businessTransaction.value}" />  
 			<br/> 

 
 			<br/>
           

             <p:outputLabel  value="Insert the code:  " />  
 			 <p:inputTextarea value="#{validateCode.code}"/> 

            <p:separator></p:separator><p:separator></p:separator>


             <p:separator></p:separator>

             <p:outputLabel  value="Insert the code:  " />  
 			 <p:inputTextarea value="#{validateCode.code}"/> 

            <p:separator></p:separator>
             <p:commandButton value="Cancel" action="#{validateCode.doCancel}"  update=":master :details1"/>  
            <p:commandButton value="OK" action="#{validateCode.validate}" id="btnGlobal" update=":master :details1"/>  
</h:panelGrid>
					
</h:form>

</p:panel>
				
				
				
				  <br/><br/>
 
	  		</ui:define>
	  		<ui:define name="pageprofile">   
 
          
	  		</ui:define>
	  		
	  		

</ui:composition>
