<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template2/template.xhtml">

<ui:define name="pagecontaint">
<h:form>  
    <p:dataTable var="b" value="#{listBusinessTransationBean.businessTransactions}">  
        <p:column headerText="Business">  
            <h:outputText value="#{b.business.name}"/>  
        </p:column>  
        <p:column headerText="Service">  
            <h:outputText value="#{b.service.name}" />  
        </p:column>  
        <p:column headerText="Value of service">  
            <h:outputText value="#{b.service.value}" />  
        </p:column> 
    </p:dataTable>  
</h:form>              
</ui:define>
</ui:composition>
