<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">


<p:panel id="details" header="Service details" visible="#{managerUserBean.formDisplayed}" style="width: 700px;">
<h:form rendered="#{managerUserBean.formDisplayed}">
<h:panelGrid columns="2">

            <p:outputLabel  value="name of service: " />  
 			<p:inputText value="#{managerUserBean.service.name}" /> 
 			
 			 <p:outputLabel  value="Description:  " />  
 			<p:inputTextarea value="#{managerUserBean.service.description}"/> 
 			
 			<p:outputLabel  value="Value (Token): " />  
 			<p:inputMask value="#{managerUserBean.service.value}" /> 
 			 <br/>
 			<p:separator ></p:separator>
 			 <br/>
    <p:fileUpload fileUploadListener="#{youtube.uploadVideo}" mode="advanced" dragDropSupport="false"
                 sizeLimit="500000000" fileLimit="3" allowTypes="/(\.|\/)(avi|mp4)$/" />
                 <br/>
            

</h:panelGrid>
     <p:separator ></p:separator>
              <p:media value="#{managerUserBean.url}" width="420" height="315" player="flash" rendered="#{managerUserBean.video}"/>


 <p:commandButton value="Add Service" action="#{managerUserBean.addOrApdateService()}" id="btnGlobal" update=":master :details"/>  
 <p:commandButton immediate="true" actionListener="#{managerUserBean.doCancel}" value="cancel" update=":details"/>
 <p:commandButton actionListener="#{managerUserBean.doDelete}" value="delete" update=":master :details" oncomplete="catTabW.filter();"/>
						
</h:form>

</p:panel>		
</ui:composition>