<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                >
                	
            	
<h:form id="master">
<p:dataTable value="#{managerUserBean.services}"
              var="serv"
              rows="5"
			  selectionMode="single"
			  selection="#{managerUserBean.service}"
			  rowKey="#{serv.id}"
			  widgetVar="catTabW"
              paginator="true"
              paginatorPosition="bottom"
              >
              
             <p:ajax event="rowSelect" listener="#{managerUserBean.onRowSelect}" update=":details"/>
				  
						<f:facet name="header">
							<h:outputText value="My Services" />
						</f:facet>		 

					<p:column headerText="#"  >
						<h:outputText value="#{serv.id}" />
					</p:column>
					
					<p:column headerText="Date"  >
						<h:outputText value="#{serv.date}" />
					</p:column>

					<p:column headerText="name of service" >
						<h:outputText value="#{serv.name}" />
					</p:column>

					<p:column headerText="description" >
						<h:outputText value="#{serv.description}" />
					</p:column>

					<p:column headerText="token value" >
						<h:outputText value="#{serv.value}" />
					</p:column>





				</p:dataTable> 
<p:commandButton icon="ui-icon-circle-plus" actionListener="#{managerUserBean.doNew}" value="New" update=":details"/>
</h:form>

</ui:composition>