<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<p:panel header="My Profile" id="panel">

<h:form id="form" >  
 
       
  <h:panelGrid columns="2" cellspacing="4" cellpadding="4" >
        <h:panelGrid columns="2" cellspacing="4" cellpadding="4" >  
            <p:outputLabel  value="name: *" />  
 			<p:inputText value="#{userBean.business.name}" /> 
 			
 			 <p:outputLabel  value="E-mail: *" />  
 			<p:inputText value="#{userBean.business.email}"/> 
 			
 			<p:outputLabel  value="Phone: " />  
 			<p:inputText value="#{userBean.business.phone}"/> 
 			
 			
 			<p:outputLabel  value="Adrress: *" />  
 			<p:inputText value="#{userBean.business.adress}"/> 
 			
 			<p:outputLabel  value="City: *" />  
 			<p:inputText value="#{userBean.business.city}"/>
 			
 			<p:outputLabel  value="Tax Code: *" />  
 			<p:inputText value="#{userBean.business.taxCode}"/>
 			
 			
 			
 		        

                <h:commandButton value="Submit" action="#{userBean.update()}" id="btnGlobal">           
        </h:commandButton>
 </h:panelGrid>
  </h:panelGrid>
 </h:form>
  <h:form enctype="multipart/form-data">
  	<h:panelGrid columns="1" style="margin-left:200px;" >
							               
          <p:graphicImage value="#{ImgBean.imageuser}" style="height:128px;width:128px;" cache="false">
                     	<f:param name="userid" value="#{userBean.user.picture.id}"/>
                     </p:graphicImage>
					                   
			 <h:form enctype="multipart/form-data">
    <p:fileUpload
        mode="advanced"
        fileUploadListener="#{userBean.handleFileUpload}"
        allowTypes="/(\.|\/)(gif|jpg|jpeg|gif|png|PNG|GIF|JPG|JPEG)$/" 
        auto="true" style="width:120px;height:50px;" />
	</h:form>
		</h:panelGrid>
 
 
</h:form>
</p:panel>
</ui:composition>
